[Unit]
Description=podman-exporter
After=podman.socket
Requires=podman.socket

[Container]
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Environment=TZ=America/New_York
Exec=--collector.enhance-metrics
Image=quay.io/navidys/prometheus-podman-exporter:v1.17.2@sha256:2fc54087d248fbdc2107edab1b52cff35b2c89920e3b92d9a99f84b718e14d07
Network=host
SecurityLabelDisable=true
User=root
Volume=/run/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
