[Unit]
Description=podman-exporter
After=podman.socket
Requires=podman.socket

[Container]
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Environment=TZ=America/New_York
Exec=--collector.enhance-metrics
Image=quay.io/navidys/prometheus-podman-exporter:v1.14.0@sha256:80f1533d35521a8ed3a555b1fffcee1167af8eba3dd3edf443f806dcd4b15be2
Network=host
SecurityLabelDisable=true
User=root
Volume=/run/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
