[Unit]
Description=podman-exporter
After=podman.socket
Requires=podman.socket

[Container]
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Environment=TZ=America/New_York
Exec=--collector.enhance-metrics
Image=quay.io/navidys/prometheus-podman-exporter:v1.17.1@sha256:93a2b3d17c2a178c6196798e0e5868ab80107d94496598adf703180907de5b2f
Network=host
SecurityLabelDisable=true
User=root
Volume=/run/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
