[Unit]
Description=dhcp-relay

[Container]
AddCapability=NET_BIND_SERVICE
AddCapability=NET_ADMIN
AddCapability=NET_RAW
ContainerName=dhcp-relay
Environment=TZ=America/New_York
Exec=--log-dhcp --log-queries --no-daemon \
  --port=0 \
  --dhcp-range=10.10.10.1,proxy,255.255.255.0 \
  --enable-tftp \
  --tftp-root=/var/lib/tftpboot \
  --pxe-service=net:#ipxe,x86PC,,undionly.kpxe \
  --pxe-service=net:#ipxe,X86-64_EFI,,ipxe.efi \
  --dhcp-match=set:bios,option:client-arch,0 \
  --dhcp-boot=tag:bios,undionly.kpxe \
  --dhcp-match=set:efi32,option:client-arch,6 \
  --dhcp-boot=tag:efi32,ipxe.efi \
  --dhcp-match=set:efibc,option:client-arch,7 \
  --dhcp-boot=tag:efibc,ipxe.efi \
  --dhcp-match=set:efi64,option:client-arch,9 \
  --dhcp-boot=tag:efi64,ipxe.efi \
  --dhcp-match=set:arm64,option:client-arch,11 \
  --dhcp-boot=tag:arm64,ipxe-arm64.efi \
  --dhcp-userclass=set:ipxe,iPXE \
  --dhcp-boot=tag:ipxe,https://pxe.factory.talos.dev/pxe/895b3dbc9b1f5e556da073a96c632658576368f23a642b3f46372225c701d204/v1.7.6/metal-amd64
Image=ghcr.io/coolguy1771/dhcp-relay-master:rolling@sha256:c5d0bf39971e110b313937dd48aaa447bca50891d0c412b5c0da20ace48c575a
Network=host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
