[Unit]
Description=dhcp-relay

[Container]
AddCapability=NET_BIND_SERVICE
AddCapability=NET_ADMIN
AddCapability=NET_RAW
ContainerName=dhcp-relay
Environment=TZ=America/New_York
Exec=--log-dhcp --log-queries --no-daemon \
  --port=0 \
  --dhcp-range=10.10.10.1,proxy,255.255.255.0 \
  --enable-tftp \
  --tftp-root=/var/lib/tftpboot \
  --pxe-service=net:#ipxe,x86PC,,undionly.kpxe \
  --pxe-service=net:#ipxe,X86-64_EFI,,ipxe.efi \
  --dhcp-match=set:bios,option:client-arch,0 \
  --dhcp-boot=tag:bios,undionly.kpxe \
  --dhcp-match=set:efi32,option:client-arch,6 \
  --dhcp-boot=tag:efi32,ipxe.efi \
  --dhcp-match=set:efibc,option:client-arch,7 \
  --dhcp-boot=tag:efibc,ipxe.efi \
  --dhcp-match=set:efi64,option:client-arch,9 \
  --dhcp-boot=tag:efi64,ipxe.efi \
  --dhcp-match=set:arm64,option:client-arch,11 \
  --dhcp-boot=tag:arm64,ipxe-arm64.efi \
  --dhcp-userclass=set:ipxe,iPXE \
  --dhcp-boot=tag:ipxe,http://10.10.10.75/boot.ipxe
Image=ghcr.io/coolguy1771/dhcp-relay-master:rolling@sha256:c0cf8d3da9ed5d4cd5a6c7831c8d87dd07aa8d522f815d1f6319573c63541ac8
Network=host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
